* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#userBoards {
    
  }
body {
    font-family: Arial, sans-serif;
    text-align: center;
    /*background-image: url('https://source.unsplash.com/random');*/
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: gradientAnimation 10s infinite alternate;
}

#returner{
    background-color: red;
}
.hidden {
    display: none;
}
#loginPage button,
#registerPage button {
    display: inline-block;
    margin-right: 10px;
}
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

h1 {
    color: #333;
    font-size: 2em;
    margin-top: 0;
}

form {
    max-width: 600px;
    padding: 60px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 25px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

input {
    width: calc(100% - 12px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: box-shadow 0.3s;
    text-align: center; /* Center the input text */
}
#returner:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#returner:focus {
    outline: none;
    border-color: #4CAF50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.7);
}
input:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

input:focus {
    outline: none;
    border-color: #4CAF50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.7);
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: box-shadow 0.3s;
}
#returner:hover {
    background-color: #ff3829;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
button:hover {
    background-color: #45a049;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#tokenDisplay {
    background-color: rgba(255, 255, 255, 0.9);
    margin: 20px 0;
    max-width: 40%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
    color: #555;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    word-wrap: break-word;
}
